.container {
    width: 600px;
    margin: auto;
    background-color: aqua;
    cursor: url(./img/palu1.png) ,auto;

}

.container:active {
    cursor:url(./img/palu2.png),auto;
}

.tanah {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    overflow: hidden ;
}

.tanah::after {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background: url(./img/tanah.png) bottom center no-repeat;
    background-size: 90%;
    position: absolute;
    bottom: -25px;
}

.tikus {
    width: 100%;
    height: 100%;
    background: url(./img/syawal.jpeg) bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100px;
    transition: top 0.3s;
}

.tanah.muncul .tikus {
    top: -15px;
}